.head {
  width: 100%;
  display: flex;
  background-color: #f6f6f6;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  cursor: pointer;
  transition: background .25s ease-out,height .25s ease-out,transform .3s ease-out,-webkit-transform .3s ease-out;
  img {
    width: 30px;
    height: 30px;
    display: inline-block;
    animation: rotate 6s linear 0s infinite normal running;
    transform-origin: center center;
    margin: 0 5px;
  }
  .head-logo-text {
    width: 100px;
    height: 26px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    line-height: 26px;
    padding: 2px 0;
    .title {
      font-weight: bold;
      font-size: 18px;
      color: black;
      position: absolute;
      top: 4px;
      span {
        display: inline-block;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
    }
    .hover-link:last-of-type span{
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  .head-logo-text:hover {
    .hover-link:nth-of-type(1) span {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    .hover-link:nth-of-type(2) span {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}
@keyframes rotate{
  from{
    transform: rotateZ(0deg)
  }
  to{
    transform: rotateZ(360deg)
  }
}

$i: 0;
@while $i < 7 {
  .head .head-logo-text .title span:nth-of-type(#{$i + 1}) {
    -webkit-transition: all (.2s + .025s * $i);
    transition: all (.2s + .025s * $i);
  }
  $i:$i + 1; //注意: 不能写成$i:$i-1,因为会被当成字符串
}
