@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';
@import './styles/head.scss';
@import './styles/toolbar.scss';
@import './styles/app.scss';
@import './styles/preview.scss';
@import './styles/dialog.scss';
@import '~highlight.js/styles/a11y-light.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus {
  outline: rgba(19, 124, 189, 0.6) auto 0;
  outline-offset: 0;
}

.head-loading {
  height: 2px;
  width: 100%;
  background-color: #efefef;
}
